@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --def: #ffffff;
    --inv: rgb(2, 83, 170);
    background-color: #1c1025;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(28, 0, 52);
    color: #fff;
}

.nav-links a {
    color: #fff;
}


/* LOGO */

img.logoimg {
    height: 60px;
    width: 135.2px;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgb(42, 0, 80);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/* DROPDOWN MENU */

.tree {
    position: relative;
}

.dropdown {
    background-color: rgb(29, 0, 55);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: rgb(42, 0, 80);
}

.tree:hover .dropdown {
    display: block;
}


/*RESPONSIVE NAVBAR MENU STARTS*/


/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}


/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(28, 0, 52);
        ;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: rgb(42, 0, 80);
        transition: 0.3s ease;
    }
    .menu li+li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: rgb(42, 0, 80);
    }
}


/* MAIN CONTENT */

.compulsory {
    color: red;
}

div.layer {
    padding: 2% 8% 2% 8%;
    width: 40%;
    align-self: center, auto;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(0, 74, 202, 0.226);
    border-radius: 18px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

input {
    position: static;
    margin: 1% 0%;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    background-color: rgb(26, 26, 26, 0.4);
    color: aliceblue;
    border: 0.5px solid rgb(0, 0, 0, 0);
    font-size: 1.1em;
}

input::placeholder {
    opacity: 0.6;
}

input:focus {
    outline: none;
    border-bottom: 0.5px solid white;
}

select {
    margin: 1% 0%;
    padding: 0.5%;
    border-radius: 8px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 70%;
}

textarea {
    position: static;
    height: 60px;
    width: 300px;
    margin: 1% 0%;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    background-color: rgb(26, 26, 26, 0.4);
    color: aliceblue;
    border: 0.5px solid rgb(0, 0, 0, 0);
    font-size: 1.1em;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.f {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    height: 1%;
    padding: 5%;
    margin-top: 5%;
    background-color: rgb(28, 0, 52);
    align-self: center, auto;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: aliceblue;
    /* align-items: center;
        justify-content: center; */
}

a {
    color: rgb(181, 220, 255);
}

.btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: var(--inv);
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--def);
    transition-delay: .5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: .35s;
}


/* From Left */

.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-left:after {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}

@media (max-width: 768px) {
    img.icon {
        float: none;
        display: block;
        width: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    div.layer {
        width: 85vw;
    }
}