@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1025;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(28, 0, 52);
    color: #fff;
}

.nav-links a {
    color: #fff;
}


/* LOGO */

img.logoimg {
    height: 60px;
    width: 135.2px;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgb(42, 0, 80);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/*Main content */

div.layer {
    padding: 2% 8% 2% 8%;
    width: 40%;
    align-self: center, auto;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(0, 74, 202, 0.226);
    border-radius: 18px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}

input {
    position: static;
    margin: 1% 0%;
    padding: 5px 5px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    background-color: rgb(26, 26, 26, 0.4);
    color: aliceblue;
    border: 0.5px solid rgb(0, 0, 0, 0);
    font-size: 1.1em;
}

input::placeholder {
    opacity: 0.6;
}

input:focus {
    outline: none;
    border-bottom: 0.5px solid white;
}

select {
    margin: 1% 0%;
    padding: 0.5%;
    border-radius: 8px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 70%;
}

textarea {
    margin: 1% 0%;
    padding: 0.5%;
    border-radius: 8px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.btn {
    margin-top: 5vh;
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke: #0066ec;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span {
    background: rgb(130, 188, 255);
    background: -moz-linear-gradient(left, rgb(130, 176, 255) 0%, rgb(115, 113, 199) 100%);
    background: -webkit-linear-gradient(left, rgb(130, 182, 255) 0%, rgb(115, 113, 199) 100%);
    background: linear-gradient(to right, rgb(130, 197, 255) 0%, rgb(115, 113, 199) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.f {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    height: 1%;
    padding: 5%;
    margin-top: 5%;
    background-color: rgb(28, 0, 52);
    align-self: center, auto;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: aliceblue;
    /* align-items: center;
        justify-content: center; */
}

a {
    color: rgb(181, 220, 255);
}

@media only screen and (max-width: 780px) {
    div.layer {
        width: 65vw;
    }
}